#
# libavg main
create repository libavg
end repository

#
# webpage

create repository legacy-www
end repository

#
# mtc

create repository mtc-Snatch
end repository

create repository mtc-alles_paletti
end repository

create repository mtc-appChooser
end repository

create repository mtc-c-info
end repository

create repository mtc-emp_command
end repository

create repository mtc-geneatd
end repository

create repository mtc-images
end repository

create repository mtc-lemming
end repository

create repository mtc-lightbox
end repository

create repository mtc-magictouch
end repository

create repository mtc-mediaschubser
end repository

create repository mtc-multitet
end repository

create repository mtc-planarity
end repository

create repository mtc-poker5card
end repository

create repository mtc-remote
end repository

create repository mtc-sponc
end repository

create repository mtc-troff
end repository

create repository mtc-videochooser2
end repository

create repository mtc-volumeControl
end repository

create repository mtc-mtc
end repository

#
# Declare the rules
# Note: rules must end in a slash
# Matches svn paths to git repositories
#

#
# libavg rules

match (?:/trunk)?/libavg/
  repository libavg
  branch master
end match

#
# Seriously trunk/trunk?
match /trunk/trunk/
  repository libavg
  branch master
end match


#
# mtc rules
match /trunk(?:/avg_media)?/mtc/volumeControl/
    repository mtc-volumeControl
    branch master
end match

match /trunk(?:/avg_media)?(?:/mtc)?/videochooser2/
    repository mtc-videochooser2
    branch master
end match

match /trunk(?:/avg_media)?/mtc/troff/
    repository mtc-troff
    branch master
end match

match /trunk(?:/avg_media)?/mtc/sponc/
    repository mtc-sponc
    branch master
end match

match /trunk(?:/avg_media)?(?:/mtc)?/remote/
    repository mtc-remote
    branch master
end match

match /trunk(?:/avg_media)?/mtc/poker5card/
    repository mtc-poker5card
    branch master
end match

match /trunk(?:/avg_media)?/mtc/planarity/
    repository mtc-planarity
    branch master
end match

match /trunk(?:/avg_media)?/mtc/multitet/
    repository mtc-multitet
    branch master
end match

match /trunk(?:/avg_media)?/mtc/mediaschubser/
    repository mtc-mediaschubser
    branch master
end match

match /trunk(?:/avg_media)?/mtc/magictouch/
    repository mtc-magictouch
    branch master
end match

match /trunk(?:/avg_media)?/mtc/lightbox/
    repository mtc-lightbox
    branch master
end match

match /trunk(?:/avg_media)?/mtc/lemming/
    repository mtc-lemming
    branch master
end match

match /trunk(?:/avg_media)?/mtc/images/
    repository mtc-images
    branch master
end match

match /trunk(?:/avg_media)?/mtc/geneatd/
    repository mtc-geneatd
    branch master
end match

match /trunk(?:/avg_media)?/mtc/emp_command/
    repository mtc-emp_command
    branch master
end match

match /trunk(?:/avg_media)?/mtc/c-info/
    repository mtc-c-info
    branch master
end match

match /trunk(?:/avg_media)?/mtc/appChooser/
    repository mtc-appChooser
    branch master
end match

match /trunk(?:/avg_media)?/mtc/alles_paletti/
    repository mtc-alles_paletti
    branch master
end match

match /trunk(?:/avg_media)?/mtc/Snatch/
    repository mtc-Snatch
    branch master
end match

match /trunk(?:/avg_media)?/mtc/
    repository mtc-mtc
    branch master
end match

#
# web rules
match /trunk/www/
  repository legacy-www
  branch master
end match

#
# Prepare for tags
match /tags/([^/]+)/
  repository libavg
  branch tag--\1
end match

match /branches/releases/([^/]+)/
  repository libavg
  branch tag--\1
end match

#
# branches
# order is important
match /branches/exhibitions/([^/]+)/
  repository libavg
  branch exhibtions/\1
end match

match /branches/experiments/([^/]+)/
  repository libavg
  branch experiments/\1
end match

match /branches/([^/]+)/
  repository libavg
  branch \1
end match

#
# Legacy -- Aka old stuff just kept for historic reasons, maybe

create repository legacy-scanner
end repository

match /trunk(?:/avg_media)?/scanner/
    repository legacy-scanner
    branch master
end match

create repository legacy-eingangsmonitore
end repository

match /trunk(?:/avg_media)?/eingangsmonitore/
    repository legacy-eingangsmonitore
    branch master
end match

create repository legacy-videochooser
end repository

match /trunk(?:/avg_media)?(?:/samples)?/videochooser/
    repository legacy-videochooser
    branch master
end match

create repository legacy-pyopenal
end repository

match /trunk/samples/pyopenal/
    repository legacy-pyopenal
    branch master
end match

create repository legacy-videoplayer
end repository

match /trunk/avg_media/videoplayer/
    repository legacy-videoplayer
    branch master
end match

create repository legacy-testvectors
end repository

match /trunk/avg_media/testvectors/
    repository legacy-testvectors
    branch master
end match


#
# Ignore
match /trunk/avg_media/paper/
end match

match /trunk/talks/
end match

match /trunk/foo
end match

match /trunk/samples/alpy/
end match

match /trunk/samples/bluetoothtest.py
end match

match /trunk/samples/logos/
end match

match /trunk/samples/reboot/
end match

#
# @uzadow
# sorry for breaking history, but I don't now how to map this free floating function
# to repositories
match /trunk/avg_media/scrollbar.py
end match
